* {
  margin: 0;
  padding: 0;
  font-family: "Glassdoor Sans", sans-serif;
}
.nav{
    background-color: black;
    text-align: center;
    padding: 10px;
}

.chat{
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.querybot{
    border: 1px solid;
}

.chatarea{
    height: 300px;
}

.msg{
    width: 300px;
}

.icon{
    margin-right: 10px;
    margin-left: 5px;
}